In [17]:
import urllib.request as urlib
import xml.etree.ElementTree as et
url=r'https://servis.idnes.cz/rss.aspx'
urlib.
web=urlib.urlopen(url)
tree = et.parse(web)
root = tree.getroot()
root.text

In [37]:
import urllib.request as urlreq
import json
webdata= urlreq.urlopen('https://restcountries.com/v3.1/alpha/CZ')
j=json.loads(webdata.read())
for i in j:
 print(j[0]['capital'][0])

Prague

In [46]:
import tomllib

toml_str = """
python-version = "3.11.0"
python-implementation = "CPython"
"""

data = tomllib.loads(toml_str)
for i in data:
    print(i)

python-version
python-implementation

In [73]:
import sqlite3
db=sqlite3.connect(r'db.sqlite')
sql_query = """SELECT name FROM sqlite_master  
  WHERE type='table';"""
sql_query1= "SELECT name FROM employees"
curs=db.cursor()
curs.execute(sql_query)
print(curs.fetchall())
curs.execute(sql_query1)
name=curs.fetchall()
print(type(name))
for i in name:
    print(i[0])

[('employees',)]
<class 'list'>
Jan
Peter
Adam

In [76]:
import psycopg2

conn = psycopg2.connect(database="employee",
                        host="127.0.0.1",
                        user="postgres",
                        password="123",
                        port="5432")

ModuleNotFoundError: No module named 'psycopg2'