In [1]:
#conditional execution
#one statement without KEYword is assignment statement!
#simple one
a=123
if a > 100:
    print('a is greater than 100')

a is greater than 100

In [2]:
if a > 1000:
    print('a is greater than 100')

In [3]:
if a > 1000:
    print('a is greater than 100')
else:
    print('else was executed')

else was executed

In [4]:
age=16
if age < 20:
    print('You are the teenager')
elif age < 30:
    print('You are in twentees')
elif age < 40:
    print('You are in foutees')
elif age < 50:
    print('You are in fiftees')
else :
    print('Young forever')

You are the teenager

In [12]:
print(bool(123))
print(bool({1:2}))
print(bool(0.00))
print(bool([]))
print(bool({}))

True
True
False
False
False

In [14]:
numbers=[12,55,77,78,9,8]
if 55 in numbers:
    numbers.remove(55)
else:
    print("55 not found")

In [15]:
numbers=[12,55,77,78,9,8]
if 56 in numbers:
    numbers.remove(55)
else:
    print("56 not found")

56 not found

In [20]:
x='\N{superscript two}'
print(x)
print(x.isdigit(), x.isdecimal(), x.isnumeric())

Â²
True False True

In [22]:
i=input("enter radius(Positive integer):")
if i.isdecimal():
    print(int(i))
else:
    print("You entered non integer")

You entered non integer

In [25]:
#fi statement performs short-circuite evaluation
print('hello')
print(print('hello'))

hello
hello
None

In [26]:
10 > 5 and print('I can  see this messag')
10 > 50 and print('I can\'t  see this messag')

I can  see this messag

False

In [27]:
if 10 > 5 and print(123):
    print('This will be not printed')
else:
    print("You will see the message")

123
You will see the message

In [29]:
i=input('enter int:')
if i.isdigit() and int(i)>100:
    print('i is greater than 100')

In [30]:
counter=1
while counter<=5:
    print(counter)
    counter+=1

1
2
3
4
5

In [31]:
numbers=[66,77,87,54]
index=0
while index<len(numbers):
    print(numbers[index])
    index+=1

66
77
87
54

In [32]:
#for loops
numbers=[66,77,87,54,76]
for number in numbers:
    print(number)

66
77
87
54
76

In [34]:
for i in range(4):
    print(i)

0
1
2
3

In [35]:
for i in range(10,40,5):
    print(i)

10
15
20
25
30
35

In [36]:
colors={'bila':'white','cerna':'black'}
for color in colors:
    print(color)

bila
cerna

In [37]:
colors={'bila':'white','cerna':'black'}
for color in colors:
    print(color)

AttributeError: 'str' object has no attribute 'value'

In [41]:
colors={'bila':'white','cerna':'black'}
for color in colors:
    print(color, colors[color])

bila white
cerna black

In [50]:
a=123
print(a)
x=y=z=99
print(y)
a,b,*c=[16,17,18,19,20]
print(a,b,c)
a,*b,*c=[16,17,18,19,20]# error with multiple *

123
99
16 17 [18, 19, 20]

SyntaxError: multiple starred expressions in assignment (3633558038.py, line 7)

In [43]:
colors={'bila':'white','cerna':'black'}
for czech,english in colors.items():
    print(czech, english)

bila white
cerna black

In [51]:
#ex: print(odd numbers from 1 to 13)
for i in range(1,13):
    if i % 2 == 1:
      print(i)

1
3
5
7
9
11

In [54]:
for number in list(range(1,13+1,2)):
    print(number)

1
3
5
7
9
11
13

In [55]:
#prime numbers from 2 to 100
primenumbers= [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [71]:
primenumbers= [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
for number in list(range(2,101)):
    for prime in primenumbers:
      if prime == number:
        print(number, sep=',',end=',')

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

In [85]:
for i in list(range(2,101)):
    is_prime=True
    for y in range(2,i):
        if not i%y: #i%y==0
          is_prime = False
          #break
    if is_prime:
           print(i, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [86]:
primes=[]
for i in list(range(2,101)):
    is_prime=True
    for y in range(2,i):
        if not i%y: #i%y==0
          is_prime = False
          #break
    if is_prime:
           primes.append(i) 
print('list of prime is:',primes)

list of prime is: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [89]:
primes=[]
for i in list(range(2,101)):
    is_prime=True
    for y in range(2,i):
        if not i%y: #i%y==0
          is_prime = False
          break
   
    else: primes.append(i) 
print('list of prime is:',primes)

list of prime is: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [122]:
names=['Jan', 'Adam', 'Tomas','Fantise','Vladimir','Eva','Dan']
# print names in ascending order only for names with max 5 characters
# sort method of list
# sorted function
short_names=[]
for name in names:
    print(f'processing {name}')
    if len(name) <=5:
      short_names.append(name)

#hort_names.remove('Jan')
short_names=sorted(short_names)
print(tuple(short_names),end='')

processing Jan
processing Adam
processing Tomas
processing Fantise
processing Vladimir
processing Eva
processing Dan
('Adam', 'Dan', 'Eva', 'Jan', 'Tomas')

In [205]:
lines=['CZ,Brno', 'CZ,Praha','SK,Kosice','AT,Linz','DE,Berlin','CZ,Hradec Kralove','SK,Bratislava','SK,Zilina','CZ,Ostrava','CZ,Kolin','AT,Graz']
#ex: print in ascending order of country codes, names of corresponding country cities in order from list"line"
#seperated in output by; (comma followed by space), no leading hash sign
#Linz, Graz
#CZ: Brno, 
cities=dict()
for i in lines:
    print(i)
    #cities.update({(i.split(',')[-1].strip("'")):c})
    cities[i.split(',')[-1].strip("'")]=i.split(',')[0].strip("'")

for i in cities:
    print(i)

CZ,Brno
CZ,Praha
SK,Kosice
AT,Linz
DE,Berlin
CZ,Hradec Kralove
SK,Bratislava
SK,Zilina
CZ,Ostrava
CZ,Kolin
AT,Graz
Brno
Praha
Kosice
Linz
Berlin
Hradec Kralove
Bratislava
Zilina
Ostrava
Kolin
Graz

In [193]:
lines=['CZ,Brno', 'CZ,Praha','SK,Kosice','AT,Linz','DE,Berlin','CZ,Hradec Kralove','SK,Bratislava','SK,Zilina','CZ,Ostrava','CZ,Kolin','AT,Graz']
countries=dict()
for line in lines:
 code,city=line.split(',')
 if code not in countries:
  countries[code]=city
 else:
  countries[code]+=f", {city}"

print(countries)


for country in sorted(countries):
 print(country,': ',countries[country],sep='')

{'CZ': 'Brno, Praha, Hradec Kralove, Ostrava, Kolin', 'SK': 'Kosice, Bratislava, Zilina', 'AT': 'Linz, Graz', 'DE': 'Berlin'}
AT: Linz, Graz
CZ: Brno, Praha, Hradec Kralove, Ostrava, Kolin
DE: Berlin
SK: Kosice, Bratislava, Zilina

In [200]:
lines=['CZ,Brno', 'CZ,Praha','SK,Kosice','AT,Linz','DE,Berlin','CZ,Hradec Kralove','SK,Bratislava','SK,Zilina','CZ,Ostrava','CZ,Kolin','AT,Graz']
countries=dict()
for line in lines:
 code,city=line.split(',')
 if code not in countries:
  countries[code]=[]
 countries[code].append(city)

print(countries)


for country in sorted(countries):
 print(country,': ',countries[country],sep='')
print("########################sorrted###################")
for country in sorted(countries):
 print(country,': ',','.join(sorted(countries[country])),sep='')

{'CZ': ['Brno', 'Praha', 'Hradec Kralove', 'Ostrava', 'Kolin'], 'SK': ['Kosice', 'Bratislava', 'Zilina'], 'AT': ['Linz', 'Graz'], 'DE': ['Berlin']}
AT: ['Linz', 'Graz']
CZ: ['Brno', 'Praha', 'Hradec Kralove', 'Ostrava', 'Kolin']
DE: ['Berlin']
SK: ['Kosice', 'Bratislava', 'Zilina']
########################sorrted###################
AT: Graz,Linz
CZ: Brno,Hradec Kralove,Kolin,Ostrava,Praha
DE: Berlin
SK: Bratislava,Kosice,Zilina

In [204]:
lines=['CZ,Brno', 'CZ,Praha','SK,Kosice','AT,Linz','DE,Berlin','CZ,Hradec Kralove','SK,Bratislava','SK,Zilina','CZ,Ostrava','CZ,Kolin','AT,Graz']
countries=dict()
for line in lines:
 code,city=line.split(',')
 countries.setdefault(code,[]).append(city)

print(countries)


for country in sorted(countries):
 print(country,': ',','.join(sorted(countries[country])),sep='')

{'CZ': ['Brno', 'Praha', 'Hradec Kralove', 'Ostrava', 'Kolin'], 'SK': ['Kosice', 'Bratislava', 'Zilina'], 'AT': ['Linz', 'Graz'], 'DE': ['Berlin']}
AT: Graz,Linz
CZ: Brno,Hradec Kralove,Kolin,Ostrava,Praha
DE: Berlin
SK: Bratislava,Kosice,Zilina

In [207]:
names=['Jan','Adam','Eva']
print('-+SEPARATOR+-'.join(names))

Jan-+SEPARATOR+-Adam-+SEPARATOR+-Eva

In [208]:
#functions
abs(-123)

123

In [209]:
#procidure is the function doesn't return the value
abs(-123)
print()

In [212]:
def greeting():
    """prints greetings
    this is my first function/procedure without paramters"""
    print("hello my function")

greeting()
x=greeting()
print(f"Returned nothng to x: {x}")

hello my function
hello my function
Returned nothng to x: None

In [222]:
def greeting(a,b):
    """prints greetings
    this is my first function/procedure without paramters"""
    print(f"Here is the contect of A and B parameter:{a} {b}")

greeting("sunil", "Aniket")

Here is the contect of A and B parameter:sunil Aniket

In [225]:
#default paramter value in function
def greeting(a,b='Aniket'):
    """prints greetings
    this is my first function/procedure without paramters"""
    print(f"Here is the contect of A and B parameter:{a} {b}")

greeting("sunil")

Here is the contect of A and B parameter:sunil Aniket

In [226]:
#default paramter value in function
def greeting(a,b='Aniket'):
    """prints greetings
    this is my first function/procedure without paramters"""
    print(f"Here is the contect of A and B parameter:{a} {b}{c}")

greeting("sunil")

Here is the contect of A and B parameter:sunil Aniket[18, 19, 20]

In [233]:
#multiple /maximum value in the arguments
def greeting(*numbers):
    """prints greetings
    this is my first function/procedure without paramters"""
    print(f"Here is the contect of A and B parameter:{numbers}")
    print(type(numbers))
    print(numbers[2])

greeting(1,3,4)

Here is the contect of A and B parameter:(1, 3, 4)
<class 'tuple'>
4

In [234]:
#*tuple and **dictionary in the arguments
def greeting(*numbers, **dicnumber):
    """prints greetings
    this is my first function/procedure without paramters"""
    print(f"Here is the contect of A and B parameter:{numbers}")
    print(type(numbers))
    print(type(dicnumber))
    print(numbers[2])

greeting(1,3,4, test=1)

Here is the contect of A and B parameter:(1, 3, 4)
<class 'tuple'>
<class 'dict'>
4

In [237]:
#Python unpack list and passes item of that list ad individual paramters
def greeting(*numbers):
    """prints greetings
    this is my first function/procedure without paramters"""
    print(f"Here is the contect of A and B parameter:{numbers}")
    print(type(numbers))
    print(numbers[2])

numbers=[1,2,3,5,67,45,66]
print(greeting(*numbers))

Here is the contect of A and B parameter:(1, 2, 3, 5, 67, 45, 66)
<class 'tuple'>
3
None

In [239]:
lines=['CZ,Brno', 'CZ,Praha','SK,Kosice','AT,Linz','DE,Berlin','CZ,Hradec Kralove','SK,Bratislava','SK,Zilina','CZ,Ostrava','CZ,Kolin','AT,Graz']
countries=dict()
for line in lines:
 code,city=line.split(',')
 countries.setdefault(code,[]).append(city)

print(countries)


for country in sorted(countries):
 print(country,': ', end='',sep='')
 print(*sorted(countries[country]),sep=', ')

{'CZ': ['Brno', 'Praha', 'Hradec Kralove', 'Ostrava', 'Kolin'], 'SK': ['Kosice', 'Bratislava', 'Zilina'], 'AT': ['Linz', 'Graz'], 'DE': ['Berlin']}
AT: Graz, Linz
CZ: Brno, Hradec Kralove, Kolin, Ostrava, Praha
DE: Berlin
SK: Bratislava, Kosice, Zilina

In [5]:
#Append multiple value as Tuple :Population on City
lines=['CZ,Brno,10000', 'CZ,Praha,20000','SK,Kosice,70000','AT,Linz,30000','DE,Berlin,1000000','CZ,Hradec Kralove,7000','SK,Bratislava,8000','SK,Zilina,9000','CZ,Ostrava,600000','CZ,Kolin,89999','AT,Graz,30000']
countries=dict()
for line in lines:
 code,city,population=line.split(',')
 countries.setdefault(code,[]).append((city,int(population)))

#print(countries)
"""Look at this used while calling sorted"""
def second_element(x):
  return x[1] #second index from the object

#print(second_element(countries[country]))

def byAccending(**countries):
 for country in sorted(countries):
    cities=[]
    for city,pop in sorted(countries[country],key=second_element): # second index assinged to pop variable
      cities.append(city)
    print(country,": ",','.join(cities),sep='')
  

byAccending(**countries)

AT: Linz,Graz
CZ: Hradec Kralove,Brno,Praha,Kolin,Ostrava
DE: Berlin
SK: Bratislava,Zilina,Kosice

In [36]:
#map and fiter
#functional programming
#help(map)
L1=[10,11,12,77,'81',87,'78']
#print(sum(L1)) #TypeError: unsupported operand type(s) for +: 'int' and 'str'
L2=[]
for item in L1:
    L2.append(int(item))
print(sum(L2))    

#Another way
print("Second way result")
L3=map(int,L1)
#you can list the same only in same iteration
L4=print(list(map(int,L1)))
#you can't list twice , That is called generator 
print(L4)
#You can also create tupple
L4=print(tuple(map(int,L1)),list())

356
Second way result
[10, 11, 12, 77, 81, 87, 78]
None
(10, 11, 12, 77, 81, 87, 78) []

In [45]:
#Use map in the solution
#Append multiple value as Tuple :Population on City
lines=['CZ,Brno,10000', 'CZ,Praha,20000','SK,Kosice,70000','AT,Linz,30000','DE,Berlin,1000000','CZ,Hradec Kralove,7000','SK,Bratislava,8000','SK,Zilina,9000','CZ,Ostrava,600000','CZ,Kolin,89999','AT,Graz,30000']
countries=dict()
for line in lines:
 code,city,population=line.split(',')
 countries.setdefault(code,[]).append((city,int(population)))

#print(countries)
"""Look at this used while calling sorted"""
def second_element(x):
  return x[1] #second index from the object
def first_element(x):
  return x[0]

#print(second_element(countries[country]))

def byAccending(**countries):
 
  

byAccending(**countries)

TypeError: 'function' object is not iterable

In [53]:
print(range(5))
print(list(range(5)))
print(*list(range(5)))
def x(p):
    print(p)
map(x, range(5))
print(map(x, range(5)))

range(0, 5)
[0, 1, 2, 3, 4]
0 1 2 3 4
<map object at 0x000001E35B984430>

In [54]:
def add(a, b):
    return (a+b)
first=[1,2,3]
second=[1,2,3,4]
print(list(map(add, first, second)))

[2, 4, 6]

In [56]:
numbers=[4,67,-3,56,-2,9]
#I want only positive integers from numbers
def g0(x):
    return x>0
print(filter(g0,numbers))
print(list(filter(g0,numbers))) #filter

<filter object at 0x000001E35B989E10>
[4, 67, 56, 9]

In [62]:
#filter cities less than 30000
lines=['CZ,Brno,10000', 'CZ,Praha,20000','SK,Kosice,70000','AT,Linz,30000','DE,Berlin,1000000','CZ,Hradec Kralove,7000','SK,Bratislava,8000','SK,Zilina,9000','CZ,Ostrava,600000','CZ,Kolin,89999','AT,Graz,30000']
countries=dict()
for line in lines:
 code,city,population=line.split(',')
 countries.setdefault(code,[]).append((city,int(population)))

def first_element(x):
  return x[0]
def second_element(x):
  return x[1] #second index from the object
def greater_than_30000(x):
  return x[1] >=30000
for country in sorted(countries):
  print(country,': ',','.join(map(first_element,sorted(filter(greater_than_30000,countries[country]),key=second_element)))) #Alway fileter before the sort like the example

AT :  Linz,Graz
CZ :  Kolin,Ostrava
DE :  Berlin
SK :  Kosice